* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", "Arial", "Verdana", sans-serif;
}

.title-heading {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 16px;
    font-size: 25px;
    text-align: center;
}

.recipes-list {
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    border-top: 2px solid #000000;
}

.list-item {
    width: 500px;
    padding: 20px;
    display: flex;
    font-size: 20px;
    border-bottom: 2px solid #000000;
}

.image-content,
.image-content img {
    width: 160px;
    height: 120px;
}

.text-content {
    width: 260px;
    margin-left: 40px;
    padding: 50px;
    text-align: center;
}

.home-redirect {
    color: #FFFFFF;
    text-decoration: none; 
}

.list-item {
    color: #000000;
    text-decoration: none;
}

.list-item:hover {
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #0000FF;
}

.recipe-heading {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

.recipe-content {
    margin-top: 50px;
    border-top: 2px solid #000000;
}

.recipe-description,
.recipe-ingredients,
.recipe-steps {
    padding: 50px;
    font-size: 20px;
    border-bottom: 2px solid #000000;
}

.description-text,
.ingredients-list li, 
.recipe-list, li {
    margin: 10px auto;
}

.subheading,
.description-text {
    text-align: center;
}

.ingredients-list {
    text-align: center;
    list-style-position: inside;
}

.ingredients-list ul {
    display: inline-block;
    text-align: left;
}