* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-heading {
    background-color: #0000FF;
    color: #FFFFFF;
    margin-bottom: 50px;
    padding: 16px;
    font-family: "Georgia", "Arial", "Verdana", sans-serif;
    text-align: center;
}

.recipes-list {
    margin: 0 auto;
    width: 500px;
    border-top: 2px solid #000000;
}

.list-item {
    width: 500px;
    padding: 20px;
    display: flex;
    border-bottom: 2px solid #000000;
}

.image-content,
.image-content img {
    width: 160px;
    height: 120px;
}

.text-content {
    width: 260px;
    margin-left: 40px;
    padding: 50px;
    text-align: center;
}

.home-redirect {
    color: #FFFFFF;
    text-decoration: none; 
}

.list-item {
    color: #000000;
    text-decoration: none;
}

.list-item:hover {
    text-decoration: underline;
    color: #FFFFFF;
    background-color: #0000FF;
}