* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-heading {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 16px;
    text-align: center;
}

.recipes-list {
    margin: 0 auto;
    width: 500px;
}

.list-item {
    width: 500px;
    display: flex;
}

.image-content img {
    width: 100px;
    height: 100px;
}